body {
	background-color: #fae6cf;
	font-family: verdana;
	font-size: 20px;
}

h2 {
	text-align: center;
	margin: 20px;
}

p {
	margin: 20px;
	font-size : 20px;
}

label, input {
	margin-left: 30px;
}